* {
    margin: 0px 0px;
    padding:0;
    border:0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    margin: 0px;
    background-color: #fcfcfc;
    font-family: Montserrat;
}

nav {
    display: flex;
    padding: 0px 7.75em;
    background-color: white;
    height: 5vh;
    align-items: center;
    grid-area: nav;
}

h1 {
    font-size: 4.8rem;
    font-weight: 700;
}

h2 {
    font-size: 3.6rem;
    font-weight: 700;
}

h3 {
    font-size: 2.6rem;
    font-weight: 700;
}

h4 {
    font-size: 2.4rem;
    font-weight: 700;
}

li {
    font-size: 2rem;
}

p {
    font-size: 2.0rem;
}

nav h3 {
    font-weight: bold;
    color: #222222;
}

h1, h2, h3, h4, h5, p {
    color: #202020;
}

h1, h2, h3, h4, h5{
    color: #202020;
    font-weight: 700;
}

img {
    width: 100%;
}

.banner:nth-child(-n+3) {
    margin: 0px 0px 0px 7.75em;
}

.banner:nth-child(4)
{
    margin: 0px;
}

.sec1, .sec2 * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec1 {
    min-width: 330px;
    max-width: 660px;
    margin: 0px 30px 0px 0px;
    grid-area: sec1;
}

.sec2 {
    min-width: 380px;
    width: 100%;
    grid-area: sec2;
}

.sec1 p {
    margin-top: 10px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-areas:
    "sec1 sec2"
    "divisoria divisoria"
    ;
}

.cardsection {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "card card card";
}

@media only screen and (max-width: 1300px) {

    html {
        font-size: 40%;
    }

    #galeria {
        grid-template-areas:
        "img1"
        "img2";
    }

    #galeria3 {
        grid-template-areas:
        "img3"
        "img4"
        "img5";
    }



}

@media only screen and (max-width: 950px) {
    .galeriasection {
        margin: 0px;
    }

    .banner:nth-child(-n+3) {
        margin: 0;
    }

    .grid {
        text-align: center;
        grid-template-areas:
        "sec2"
        "sec1"
        "divisoria";
    }

    a#button {
        text-align: center;
    }

    .card {
        height: 100%;
        width: 60%;
    }



}

    /* h1 {   
        font-size: 24px;
        font-weight: 700;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 15px;
    }

    p {
        font-size: 14px;
    }

    .banner:nth-child(-n+3) {
        margin: 16px;
    }

    .banner:nth-child(4)
    {
        margin: 0px;
    }

    nav {
        background-color: white;
        padding: 16px;
        height: 3vh;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    a#button  {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .grid {
        grid-template-areas:
        "sec1"
        "sec2"
        "divisoria"
        ;
    }

    .sec1 {
        width: 100%;
        height: 100%;
    }
    
    .sec2 {
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .card {
        margin-right: 0px;
    }

    .conjuntocards h2 {
        margin-top: 20px;
    }


} */

.divisoria {
    height: 16px;
    background-color: #0F5B00;
    grid-area: divisoria;
}

a#button  {
    font-weight: 600;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0.81rem 3.31rem;
    background-color: #0F5B00;
    width: 35%;
    margin-bottom: 16px;
    font-size: 1.8rem;
}

a#button:hover{
    transition: 0.8s;
    font-weight: 600;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #199D00;
    width: 35%;
}

/* CARDS */

.conjuntocards h2 {
    margin-top: 6rem;
}

.cardsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.cardsection h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    max-width: 368px;
    max-height: 270px;
    min-height: 180px;
    padding: 5rem;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    transition: 0.4s;

    text-align: center;
}

.card #sofa {
    margin-bottom: 1.7rem;
}

.card:hover {
    box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.24), 0px 8px 12px rgba(22, 34, 51, 0.24);
}

.card img {
    width: 58px;
}

.card h3 {
    text-decoration-line: underline;
    text-decoration-color: #0F5B00;
    text-align: center;
    margin-bottom: 1rem;
}

.card p {
    text-align: left;
}

.galeriasection {

    margin: 0px 7.75rem;
    text-align: center;
    justify-content: center;
}

.galeria {
    text-align: center;
    margin-top: 2rem;
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas:
    "img1 img2"
    ;
}

.galeria .img1 img:hover {
    transition: 0.4s;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.galeria3 {
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas:
    "img3 img4 img5"
    ;
} 

.img1 img {
    margin-bottom: 2rem;
    border-right: 2rem white;
}

.img2 img {
    margin-bottom: 2rem;
    border-left: 2rem;
}

.img1 {
    grid-area: img1;
    width: 100%;

}

.img2 {
    grid-area: img2;
    width: 100%;
}

.img3 {
    grid-area: img3;
    width: 100%;
}

.img4 {
    grid-area: img4;
    width: 100%;
}

.img5 {
    grid-area: img5;
    width: 100%;
}

.encontrar {
    text-align: center;
}

.encontrar h2{
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.encontrar p {
    margin-bottom: 1rem;
}

.encontrar iframe {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* .socialicons p {
    text-align: center;
    float: right;
}

.socialicons p:first-child {
    margin-left: 0;
}

.socialicons ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialicons img {
    width: 35px;
    height: 35px;
}

.socialicons img {
    display: flex;
    align-items: center;
} */

.socialicons p {
    text-align: center;
    float: right;
}

.socialicons li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.socialicons a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.socialicons p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.socialicons p:first-child {
    margin-left: 0;
}

.encontrar ul{
    margin-right: 13.5rem;
    margin-top: 1.5rem;
    margin-left: 13.5rem;
    margin-bottom: 2.5rem;
    justify-content: center;
    display: flex;
}

.encontrar li{
    float: left;
    margin-left: 5.0rem;
}

.encontrar li:first-child{
    float: left;
    margin-left: 0px;
}

.encontrar h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.encontrar p {
    color: #2B2E45;
    margin-bottom: 0px;
}

.socialicons img {
    width: 35px;
    height: 35px;
}